<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
        [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput placeholder="example@gmail.com">
      <mat-error *ngIf="loginForm.controls.email.hasError('required')">Email is required!</mat-error>
      <mat-error *ngIf="!loginForm.controls.email.hasError('required')">Email is invalid!</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Enter at least 8 characters password">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput>
      <mat-hint align="end">{{loginForm.value?.password.length}} / 8</mat-hint>
      <mat-error *ngIf="loginForm.controls.password.hasError('required')">Password is required!</mat-error>
      <mat-error *ngIf="!loginForm.controls.password.hasError('required')">Password is invalid!!</mat-error>
    </mat-form-field>
    <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary">Sign Up</button>
  </form>
</section>
