<div style="padding: 30px" fxLayout fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)"
        fxFlex.lt-sm="97%" fxFlex="70%" fxLayout="column" fxLayoutAlign="center">
    <mat-card>
      <mat-card-title fxLayoutAlign="center">New Training</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isLoading && exercises">
          <mat-label>Exercise</mat-label>
          <mat-select ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
        <button *ngIf="exercises" type="submit" color="primary" mat-raised-button [disabled]="f.invalid">Start</button>
        <button *ngIf="!exercises" type="button" color="primary" mat-raised-button (click)="fetchExercises()">Try
          Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
