<div style="padding: 30px" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.lt-sm="97%" fxFlex="70%" fxLayout="column" fxLayoutAlign="center">
    <mat-card-title fxLayoutAlign="center">title</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option value="Crunches">
            Crunches
          </mat-option>
          <mat-option value="Squats">
            Squats
          </mat-option>
          <mat-option value="Plank">
            Plank
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" color="primary" mat-raised-button (click)="onStartTraining()">Start</button>
    </mat-card-actions>
  </mat-card>
</div>
